.linkText {
	font-size: 20px;
	color: var(--text-color);
	grid-area: 2 / 1 / 5 / 4;
	justify-content: center;
	align-items: center;
	display: grid;
	background: var(--primary);
	text-decoration: none;
	cursor: pointer;
}
