.aboutPage {
	font-size: 20px;
	color: var(--text-color);
	grid-area: content;
	justify-content: center;
	align-items: center;
	display: grid;
	background: var(--primary);
	&__text {
		display: flex;
		justify-content: center;
	}
	&__linkText {
		font-size: 20px;
		color: var(--text-color);
		text-decoration: none;
	}
}
